*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


/*contenido maquetado con flexbox*/
header{
    background: black;
    width: 95%;
    height: 20vh;
    display: flex;
    margin: 10px auto;
}
.logo-header{
    display: flex;
    background-color: blue;
    width:20%;
    justify-content: flex-end;
    
}

.nombre-header{
    display: flex;
    width: 80%;
    background: lightcoral;
    justify-content: flex-start;
    align-items: center;
}
/*Acá termina el header y comienza la barra de navegación*/
div.nav{
    position:sticky;
    top: 0;
    flex-wrap: nowrap;
    margin: 10px auto;
    display: flex;
    background: red;
    width: 95%;
    height: 10vh;
    justify-content:space-around;
    align-items: center;
  }
  div.nav nav{
        display: flex;
  }
div.nav nav button{
    background-color: aqua;
    font-weight: bold;

}
/*Acá termina la barra de navegación y comienza el contenido*/

main{
    width: 95%;
    margin: 10px auto;

}

main div.sobre-nosotros{
    display: flex;
    background-color: brown;
    padding: 1%;
}

/*Primer breakpoint - celulares baja resolucion*/
@media screen and (max-width:349px) {

    body{background-color: black;}

    header div.logo-header{
        display: none;
    }

    header div.nombre-header{
        width: 100%;
        justify-content: center;
    }

    div.nav{
        flex-wrap: wrap;
        position:sticky;
        top: 0;
        margin: auto;
        background: red;
        width: 95%;
        height: auto;
      }

      div.nav nav{
        display: flex;
        flex-wrap: wrap;
        margin: 5px 5px;
        row-gap: 10px;
        column-gap: 10px;
        justify-content: center;
        
      }

      div.nav nav button{
        text-align: justify;   
        background-color: aqua;
      }
    

}

/*Segundo breakpoint telefonos mayor resolución y tablets*/
@media screen and (min-width:350px) and (max-width:720px) {
    div.nav {
        display: flex;
        height: auto;
    }
    div.nav nav{
        display: flex;
        flex-wrap: wrap;
        margin: 5px 5px;  
        width: 100%;
        height: auto;
        justify-content: center;
        align-items:stretch;
        column-gap: 10px;
       
      }
      div.nav nav button{
        width: 20%;
        text-align: center;   
        background-color: aqua;
      }
}

/*Tercer breakpoint - < 720px hasta 1920px*/
