*{
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
   
    .container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: coral;
        margin-bottom: 5px;
        padding: 5px;
        justify-content: center;
        align-content: center;
    }
    
    /* Aqui comienza la configuracion del header para dispositivos moviles*/
    
    header.header{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: black;
        justify-content: center;
        align-items:center ;
    }
   

    header img.logo{
        display: block;
        width: 50%;
    
    }
    h1.titulo{
        text-align: center;
        display: block;
        color: bisque;
        font-weight: bold;
    }
    /* Aqui comienza la configuracion del menu hamburguesa */
    .abrir-menu{
        display: flex;
        margin: auto 0;
    }
   div.nav-bar{
    display: flex;
    align-items:flex-end;
    justify-content:right;
    padding: 2rem;
    background-color: lightgreen;
   }
   .nav{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    padding: 2rem;
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
   
   }
   .nav.visible{
    opacity: 1;
    visibility: visible;
   }

   .nav-list{
    gap: 1rem;
    display: flex;
    list-style-type: none;
    align-items: end;
    flex-direction: column;
   }

   .nav-list li a{
    text-decoration: none;
    color: lightgoldenrodyellow;
   }
    
    
    
    /* Aqui comienza la seccion principal*/

    section.home div.img-home{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin: auto;
    }
    section div.img-home img{
        object-fit: contain;
        display: flex;
        margin: 0 auto;
        width: 100%;
    }
    section.home div.texto-home{
        font-size: 1.25em;
        font-weight: bold;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        text-align: left;
        display: flex;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    /* En esta seccion empieza la galeria de imagenes*/

   .container-slider{
    width: 100%;
    max-width: 900%;
    margin: 25px auto;
    overflow: hidden;
    box-shadow: 0 0 0 10px #fff,
                0 15px 50px;
    position: relative;
    height: auto;
   }
   .slider{
    display: flex;
    width: 600%;
    height: auto;
    margin-left: -100;
   }
   .slider__section{
    height: auto;
    font-size: 1.25em;
    margin: 0 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

   }
  
   .slider__img{
    object-fit: cover;
    margin: 10px 10px;
    display: flex;
    width: 100%;
   }
   .slider__btn{
    padding: 0;
    margin: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(57, 49, 97, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    color: white;

   }
   .slider__btn:hover{
    background-color: rgba(130, 49, 100, 0.7);

   }
   .slider__btn--left{
    left: 10px;

   }
   .slider__btn--right{
    right: 10px;
    
   }



   /*Acá empieza la seccion del iframe que muestra la localizacion y como llegar*/

   section.location p{
    width: 50%;
   }

   iframe.mapa{
    width: 50%;
    height: 70%;
   }

   /* acá empieza la seccion del formulario */

   section#formulario{
    display: none;
   }
   a#mostrar{
    text-decoration: none;
   }
   a#cerrar{
   margin: 0 100%;
   padding: 0 10px;
   text-decoration: none;
   }

   section.container div.formulario{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px;
    width: 100%;
    background-color: blueviolet;
    justify-content: flex-start;
    text-align: left;
   }

   section.container div.formulario input.datos{
    width: 100%;
    display: flex;
   }
   #mensaje{
    width: 100%;
    min-height: 100px;
   }
   legend{
    text-align: center;
   }

   section.container div.curriculum{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px;
    width: 100%;
    justify-content: flex-start;
    text-align: left;
    background-color: chartreuse;
   }

  fieldset input#upload{
    width: 47%;
    padding: 0;
    flex-wrap: nowrap;
  }
 
   
  


   footer{
    background-color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 75%;
   }

   footer div.izq{
    width:50%;
    margin: 0;
    padding: 0;
   }
   

   footer div.izq ul{
    
    text-align: left;
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 70%;
    color: antiquewhite;
   }



   footer div.der{
    width: 50%;
    background-color: bisque;
   }


 

/*Pimer breakpoint - Dispositivos móviles */
@media screen and (min-width: 480px){
   header img.logo{
    width: 25%;} 
    
}



    