*{
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
   
    .container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: #c1c1c1;
        margin-bottom: 5px;
        padding: 5px;
        justify-content: center;
        align-content: center;
        box-shadow: 0 0 0 10px #fff,
        0 15px 50px;
    }
    
    /* Aqui comienza la configuracion del header para dispositivos moviles*/
    
    header.header{
       
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: black;
        justify-content: center;
        align-items:center ;
        margin-bottom: 0;
    }
    .getin-1 {
        animation-delay: 1ms;
        animation-duration: 4s;
        animation-iteration-count: 4s;
        animation-name: getin-1;
        animation-timing-function:ease-out-in;
    }
    @keyframes getin-1 {
        0%    { transform: translateX(-150%); }
        25%   { transform: translateX(150%); }
     }

   

    header img.logo{
        display: block;
        width: 30%;
    
    }
    
    h1.titulo{
        text-align: center;
        display: block;
        color: bisque;
        font-weight: bold;
    }
    /* Aqui comienza la configuracion del menu hamburguesa */
    .abrir-menu{
        position: absolute;
        right: 14px;
        padding: 0;
        width: auto;
        height: 0.25rem;
        border: none;
        background-color: transparent;
        display: flex;
        margin: 0;
        cursor: pointer;
    }
    .cerrar-menu{
        position: absolute;
        right: 14px;
        padding: 0;
        width: auto;
        height: 0.25rem;
        border: none;
        background-color: transparent;
        display: flex;
        margin: 25px 0;
        cursor: pointer;
    }

   div.nav-bar{
    position: sticky;
    top: 0;
    right: 0;
    height: 0;
    width: fit-content;
    z-index: 2;
    margin-top: 10px;
    margin-right: -20px;
}
   .nav{
    background-color: black;
    height: auto;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
   
   }
   .nav.visible{
    opacity: 1;
    visibility: visible;
    height: auto;
   }

   .nav-list{
    gap: 1rem;
    display: flex;
    list-style-type: none;
    align-items: end;
    flex-direction: column;
   }

   .nav-list li a{
    text-decoration: none;
    color: lightgoldenrodyellow;
   }
    
    
    
    /* Aqui comienza la seccion principal*/

    section.home div.img-home{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin: auto;
    }
    section div.img-home img{
        object-fit: contain;
        display: flex;
        margin: 0 auto;
        width: 100%;
    }
    section.home div.texto-home{
        font-size: 1.25em;
        font-weight: bold;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        text-align: left;
        display: flex;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    /* En esta seccion empieza la galeria de imagenes*/

   .container-slider{
    background-color: #c1c1c1;
    width: 100%;
    max-width: 900%;
    margin: 25px auto;
    overflow: hidden;
    box-shadow: 0 0 0 10px #fff,
                0 15px 50px;
    position: relative;
    height: auto;
   }
   .slider{
    display: flex;
    width: 600%;
    height: auto;
    margin-left: -100;
   }
   .slider__section{
    height: auto;
    font-size: 1.25em;
    margin: 0 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

   }
  
   .slider__img{
    object-fit: cover;
    margin: 10px 10px;
    display: flex;
    width: 100%;
   }
   .slider__btn{
    padding: 0;
    margin: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(57, 49, 97, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    color: white;

   }
   .slider__btn:hover{
    background-color: rgba(130, 49, 100, 0.7);

   }
   .slider__btn--left{
    left: 10px;

   }
   .slider__btn--right{
    right: 10px;
    
   }



   /*Acá empieza la seccion del iframe que muestra la localizacion y como llegar*/

   #location{
    flex-direction: column;
    justify-content: stretch;
   }
   section.location p{
    width: 100%;
    height: 100%;
   }

   iframe.mapa{
    width: 95%;
    height: 100%;
   }

   /* acá empieza la seccion del formulario */


   section#formulario{
    display: none;
   }
   a#mostrar{
    text-decoration: none;
   }
   a#cerrar{
    z-index: 3;
   margin: 0;
   padding: 0
   }

   section.container div.formulario{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px;
    width: 90%;
    background-color: grey;
    justify-content: flex-start;
    text-align: left;
   }
   

   section.container div.formulario input.datos{
    width: 100%;
    display: flex;
   }
   #mensaje{
    width: 100%;
    min-height: 100px;
   }
   legend{
    text-align: center;
   }

   section.container div.curriculum{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px;
    width: 83%;
    justify-content: flex-start;
    text-align: left;
    background-color: grey;
   }

  fieldset input#upload{
    width: 47%;
    padding: 0;
    flex-wrap: nowrap;
  }
 
   
  


   footer{
    margin: 40px auto;
    background-color: black;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 75%;
   }

   footer div.izq{
    display: flex;
    height: auto;
    width: 100%;
    color: #fff;
    font-weight: bold;
}
footer ul li{
    list-style-type: none;

}
#redes{
    text-align: center;
    cursor: pointer;
}
footer div.der{
    flex-direction: column;
    justify-content: flex-end;
    background-color: lightslategray;
    display: flex;
    height: auto;
    width: 100%;
    color: #fff;
    font-weight: bold;
}


footer div.der span.lineas-span{
    display: flex;
    justify-content: center;
    width: 90%;
    color: rgba(1, 77, 20, 0.51);
    border-bottom: solid 3px;
}
.texto-span{
    text-align:center;
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    font-weight: bolder;
}

footer div.logo{
    align-items: center;
    display: flex;
    font-size: smaller;
    color: whitesmoke;
    font-weight: bold;
}


 

/*Pimer breakpoint - Dispositivos móviles */
@media screen and (min-width: 480px){
   header img.logo{
    width: 25%;} 
    
}



    